<div class="col-md-12">
    <div class="text-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
    <wait-cursor display-when="vm.isBusy"></wait-cursor>
    <table id="MaterialsGrid"
           st-table="displayedCollection"
           st-safe-src="vm.materials"
           class="table table-responsive table-striped table-condensed">
        <thead>
            <tr>
                <th></th>
                <th st-sort="materialType.name">Type</th>
                <th st-sort="name" st-sort-default="true">Name</th>
                <th st-sort="brand">Brand</th>
                <th st-sort="model">Model</th>
                <th st-sort="datePurchased">Purchased</th>
                <th st-sort="year">Year</th>
            </tr>
            <tr>
                <th colspan="8"><input st-search="" class="form-control" placeholder="type here to search ..." type="text" /></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in displayedCollection">
                <td class="col-xs-1">
                    <div>
                        <div class="btn-group btn-group-xs btn-group-justified">
                            <button type="button"
                                    class="btn-info"
                                    ng-click="vm.selectItem(row)">
                                <i class="glyphicon glyphicon-edit" title="Select"></i>
                            </button>
                            <button type="button"
                                    class="btn-danger"
                                    ng-click="vm.removeItem(row)">
                                <i class="glyphicon glyphicon-remove" title="Remove"></i>
                            </button>
                        </div>
                    </div>
                </td>
                <td class="col-md-2">{{ row.materialType.name }}</td>
                <td class="col-md-2">{{ row.name }}</td>
                <td class="col-md-2">{{ row.brand }}</td>
                <td class="col-md-2">{{ row.model }}</td>
                <td class="col-sm-2">{{ row.datePurchased | date : "dd-MM-yyyy" }}</td>
                <td class="col-xs-1">{{ row.year }}</td>                
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8" class="text-center">
                    <div st-pagination="" st-items-by-page="vm.itemsByPage" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>