#wrapper {
    margin-left: 0px;
    -moz-transition: margin-right ease .25s;
    -o-transition: margin-right ease .25s;
    -webkit-transition: margin-right ease .25s;
    transition: margin-right ease .25s;
}

    #wrapper.hide-sidebar {
        margin-left: 0;
        -moz-transition: margin-left ease .25s;
        -o-transition: margin-left ease .25s;
        -webkit-transition: margin-left ease .25s;
        transition: margin-left ease .25s;
    }

#sidebar {
    background-color: #2a2c36;
    color: white;
    position: fixed;
    height: 100%;
    width: 250px;
    overflow: hidden;
    left: 0;
    -moz-transition: left ease .25s;
    -o-transition: left ease .25s;
    -webkit-transition: left ease .25s;
    transition: left ease .25s;
}

    #sidebar.hide-sidebar {
        left: -250px;
        -moz-transition: left ease .25s;
        -o-transition: left ease .25s;
        -webkit-transition: left ease .25s;
        transition: left ease .25s;
    }

.headshot {
    max-width: 50px;
    max-height: 50px;
    border: 1px solid #222;
    padding: 3px;
    margin: 2px;
    left: 250px;
}

.menu {
    font-size: 12px;
}

    .menu li {
        list-style-type: none;
    }

        .menu li.active {
            font-weight: bold;
        }

        .menu li a {
            color: #eee;
        }

#map {
    width: 100%;
    height: 600px;
}
