<div class="col-md-12">
    <div class="text-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
    <wait-cursor display-when="vm.isBusy"></wait-cursor>
    <table class="table table-responsive table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Created</th>
                <th>Name</th>
                <th>Observ.</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="materialType in vm.materialTypes">
                <td class="col-sm-1"><a href="#" class="btn btn-sm btn-primary">Edit</a></td>
                <td class="col-sm-2">{{ materialType.dateCreated | date : "dd-MM-yyyy" }}</td>
                <td class="col-md-2">{{ materialType.name }}</td>
                <td class="col-md-5">{{ materialType.memo }}</td>
            </tr>
        </tbody>
    </table>
</div>