<!DOCTYPE html>
<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/superhero/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css"/>

</head>
<body>
    
    <div id="wrapper">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">                
                <a asp-controller="App" asp-action="Index" class="navbar-brand">Home</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="App" asp-action="Sessions" class="navbar-brand">Sessions</a>
                    <a asp-controller="App" asp-action="Spots" class="navbar-brand">Spots</a>
                    <a asp-controller="App" asp-action="Materials" class="navbar-brand">Materials</a>
                    <a asp-controller="App" asp-action="MaterialTypes" class="navbar-brand">Material Types</a>
                }
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a asp-controller="App" asp-action="About"
                           class="glyphicon glyphicon-comment">
                            About
                        </a>
                    </li>
                    <li>
                        <a asp-controller="App" asp-action="Contact"
                           class="glyphicon glyphicon-envelope">
                            Contact
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a asp-controller="App" asp-action="UserProfile"
                               class="glyphicon glyphicon-user">
                                @User.Identity.Name
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Auth" asp-action="Logout"
                               class="glyphicon glyphicon-log-out">
                                Logout
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="Auth" asp-action="Login" 
                               class="glyphicon glyphicon-log-in">
                                Login
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>

        <div id="main" class="container-fluid">
            @RenderBody()
        </div>

        <div id="footer" class="container-fluid">
            <div class="nav navbar-default navbar-fixed-bottom">
                <h5 class="text-center text-info">&copy; 2016 WindLog</h5>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @RenderSection("scripts", false)
</body>
</html>
