@{
    ViewBag.Title = "Material Types Page";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/controllers/simpleControls.js"></script>
    <script src="~/lib/angular-smart-table/dist/smart-table.min.js"></script>
    <script src="~/js/controllers/app-materialTypes.js"></script>
    <script src="~/js/controllers/materialTypesController.js"></script>
}

<h3 class="text-center">Material Types</h3>

<div ng-app="app-materialTypes">

    <div ng-view></div> @*materialTypesView.html in client side*@

</div>