@{
    ViewBag.Title = "Materials Page";
}

<h1>Materials</h1>

<h2>Under construction !!!</h2>

<div class="col-md-6">
    <ul>
        @foreach (var material in Model)
            {
            <li>(@material.MaterialType.Name) @material.Name / @material.Brand / @material.Model</li>
        }
    </ul>
</div>
