@{
    ViewBag.Title = "Material Types Page";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>

    <script src="~/js/support/commonMethods.js"></script>
    <script src="~/js/controllers/simpleControls.js"></script>    
    <script src="~/js/support/IrDragNDrop.js"></script>
    <script src="~/lib/angular-smart-table/dist/smart-table.min.js"></script>

    <link rel="stylesheet" href="~/lib/angular-ui-notification/dist/angular-ui-notification.min.css" />
    <script src="~/lib/angular-ui-notification/dist/angular-ui-notification.min.js"></script>

    <script src="~/js/controllers/materialType/app-materialTypes.js"></script>
    <script src="~/js/controllers/materialType/materialTypesController.js"></script>
    <script src="~/js/controllers/materialType/materialTypesEditorController.js"></script>
}
<head>
    <base href="@Url.Content("~/App/MaterialTypes/")" />
</head>
<h3 class="text-center">Material Types</h3>

<div ng-app="app-materialTypes">

    <div ng-view></div> @*materialTypesView.html in client side*@

</div>