@{
    ViewBag.Title = "Materials Page";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>    
    <script src="~/lib/angular-route/angular-route.min.js"></script>

    <script src="~/js/support/commonMethods.js"></script>
    <script src="~/js/controllers/simpleControls.js"></script>
    <script src="~/lib/angular-smart-table/dist/smart-table.min.js"></script>

    <link rel="stylesheet" href="~/lib/angular-ui-notification/dist/angular-ui-notification.min.css" />
    <script src="~/lib/angular-ui-notification/dist/angular-ui-notification.min.js"></script>

    <script src="~/js/controllers//material/app-materials.js"></script>
    <script src="~/js/controllers/material/materialsController.js"></script>
    <script src="~/js/controllers/material/materialsEditorController.js"></script>
}
<head>
    <base href="@Url.Content("~/App/Materials/")" />
</head>
<h3 class="text-center">Materials</h3>
<div class="row" ng-app="app-materials">

    <div ng-view></div>

</div>
